.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  text-align: center;
}

.forget-password:hover {
  color: white;
	text-shadow: 0 0 1px white;
  text-decoration: none;
}
