{% extends 'core/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
  <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}
{% block title %}Detalhes do Curso{% endblock %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col s12 m12 card-panel grey lighten-2 z-depth-3">
        <h4 class="header">Detalhes do curso {{course.name}}</h4>
        <p class="flow-text">O VWCourses visa simplificar o ensino a distância, provendo ferramentas com o objetivo de facilitar o curso a distância</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m5 right">
        {% if course.image %}
        <img class="materialboxed img-details" width="100%" src="{{course.image.url}}" alt="{{course.name}}" />
        {% else %}
        <img class="materialboxed img-details" width="100%" src="{% static 'courses/img/default_img.png' %}" alt="{{course.name}}" />
        {% endif %}
      </div>
      <div class="col s12 m7">
        <h4 class="header">Sobre o Curso</h4>
        {{course.description | linebreaks}}
        <p><a href="{% url 'courses:enrollment' course.slug %}" class="btn">Inscreva-se</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Duvidas?</h4>
    <form method="post" action="#">
      {% csrf_token %}
      <div class="row">
        <div class="col s12 m7">
          {{form.as_p}}
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">send</i>Enviar</button>
    </form>
    <br />
  </div>
{% endblock %}
