{% extends 'accounts/profile.html' %}
{% load i18n %}
{% block profile %}
  {{block.super}}
  <a href="{% url 'courses:announcements' course.slug %}" class="breadcrumb teal-text text-darken-4">{{course}}</a>
  <a href="{% url 'courses:lessons' course.slug %}" class="breadcrumb teal-text text-darken-4">Aulas</a>
  <a href="{% url 'courses:lesson' course.slug lesson.id %}" class="breadcrumb teal-text text-darken-4">{{lesson}}</a>
  <a href="{% url 'courses:material' course.slug material.id %}" class="breadcrumb teal-text text-darken-4">{{material}}</a>
{% endblock %}
{% block menu_options %}
  {% include 'courses/menu_options.html' %}
  {{ block.super }}
{% endblock %}
{% block profile_content %}
  <div class="row">
    <div class="col s12">
      <h2>{{lesson}}</h2>
      <div class="card-panel">
        <h4><a href="#">{{material}}</a></h4>
        {{material.embedded|safe}}
        <a href="{% url 'courses:lesson' course.slug lesson.id %}">Voltar</a>
      </div>
    </div>
  </div>
{% endblock %}
