{% load i18n %}
 <div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper black-gradient">
       <a href="{% url 'core:home' %}" class="brand-logo"><i class="material-icons">home</i>{% trans 'VWCourses' %}</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
         <li class="{% block active-home %}{% endblock %}"><a href="{% url 'core:home' %}"><i class="material-icons left">home</i>{% trans 'Home' %}</a></li>
         <li class="{% block active-index %}{% endblock %}"><a href="{% url 'courses:index' %}"><i class="material-icons left">school</i>{% trans 'Courses' %}</a></li>
         <li>{% block footer-link %}{% endblock %}</li>
       </ul>
       <ul class="side-nav" id="mobile-demo">
         <li><a href="{% url 'core:home' %}"><i class="material-icons left">home</i>{% trans 'Home' %}</a></li>
         <li><a href="{% url 'courses:index' %}"><i class="material-icons left">school</i>{% trans 'Courses' %}</a></li>
       </ul>
     </div>
   </nav>
</div>
